.cta {
    text-align: center;
}

.cta > * + * {
    margin-top: 1rem;
}

.cta__image {
    width: var(--size-9xl);
    height: var(--size-9xl);
    object-fit: contain;
    margin-inline: auto;
}

.cta__title {
    font-size: var(--size-2xl);
    font-weight: 900;
    line-height: 1;
}

.cta__description {
    font-family: var(--font-secondary);
    font-size: var(--size-sm);
    color: var(--color-muted);
    max-width: 60ch;
    margin-inline: auto;
}

.cta__btn {
    font-size: var(--size-sm);
}

.cta__arrow {
    display: inline;
    width: 1em;
    vertical-align: middle;
    margin-left: 0.25rem;
}


@media (min-width: 475px) {
    .cta__image {
        width: var(--size-10xl);
        height: var(--size-10xl);
    }

    .cta__title {
        font-size: var(--size-3xl);
    }
    
    .cta__description {
        font-size: var(--size-base);
    }
    
    .cta__btn {
        font-size: var(--size-base);
    }
}

@media (min-width: 1280px) {
    .cta > * + * {
        margin-top: 2rem;
    }

    .cta__image {
        width: 12.5rem;
        height: 12.5rem;
    }

    .cta__title {
        font-size: var(--size-5xl);
    }
    
    .cta__description {
        font-size: var(--size-lg);
    }
    
    .cta__btn {
        font-size: var(--size-lg);
    }
}