*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    line-height: 1.5;
}

.hero {
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url("./images/landscape.jpg");
    background-size: cover;
    background-position: right;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.hero__title {
    color: white;
    font-size: 3rem;
    text-transform: uppercase;
    font-family: "Danfo", serif;
}

.hero__description {
    color: white;
    max-width: 60ch;
    font-family: 'Courier New', Courier, monospace;
    margin-top: 1.5rem;
    font-size: 1.3rem;
}

@media (max-width:1536px) {
    .hero__title  {
        font-size: 2.8rem;
    }

    .hero__description {
        font-size: 1.2rem;
    }
}

@media (max-width:1280px) {
    .hero__title {
        font-size: 2.6rem;
    }

    .hero__description {
        font-size: 1.1rem;
    }
}

@media (max-width:1024px) {
    .hero__title {
        font-size: 2.4rem;
    }

    .hero__description {
        font-size: 1rem;
    }
}

@media (max-width:768px) {
    .hero__title {
        font-size: 2.2rem;
    }

    .hero__description {
        font-size: 0.9rem;
        max-width: 45ch;
        margin-top: 1.2rem;
    }
}

@media (max-width:640px) {
    .hero__title {
        font-size: 2rem;
    }

    .hero__description {
        font-size: 0.8rem;
    }
}

@media (max-width:475px) {
    .hero__title {
        font-size: 1.8rem;
    }

    .hero__description {
        font-size: 0.7rem;
        max-width: 35ch;
        margin-top: 1rem;
    }
}